{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    /* Remove left margin for the iframe */
    #coin360-iframe {
        margin-left: 0;
    }
</style>
<h1>Coin360 Widget</h1>
<iframe src="https://coin360.com/widget/top-10?utm_source=embed_map" frameborder="0" title="Coin360.com: Top 10 Coins" width="2500" height="900"></iframe>

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
<!-- COPY QC WIDGET TAG AND SCRIPT BELOW -->
<qc-price-ticker-widget
  mode="custom"
  top-coins="true"
  gainers-and-losers="true"
  bg="#1e1e1e" theme="dark"
  currency="USD">
</qc-price-ticker-widget>
<script src="https://quantifycrypto.com/widgets/marquee/js/qc-price-ticker-widget.js"></script>
</body>
</html>




{% endblock %}